@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
body{
    overflow-x: hidden;
}
.swiper-container {
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Mountains of Christmas', cursive;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* navbar */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent !important;
}

/* header */
.image{
    box-sizing: border-box;
}

.image img{
object-fit: cover;
width: 100%;
}


/* --------------- Style des coffrets ------------ */
[class^="swiper-button-"], .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    transition: all 0.3s ease;
}
/* *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
.swiper-container {
    width: 100%;
    height: 28vw;
    transition: opacity 0.6s ease;
}
.swiper-container.swiper-container-coverflow {
    padding-top: 2%;
}
.swiper-container.loading {
    opacity: 0;
    visibility: hidden;
}
.swiper-container:hover .swiper-button-prev, .swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide .entity-img {
    display: none;
}
.swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
}
.swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
}
.swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
}
[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
}
.swiper-button-prev {
    transform: translateX(50px);
}
.swiper-button-next {
    transform: translateX(-50px);
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.4;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 0px solid #fff;
    border-radius: 50%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px;
}
@media (max-width: 1180px) {
    .swiper-slide .content .title {
        font-size: 25px;
   }
    .swiper-slide .content .caption {
        font-size: 12px;
   }
}
@media (max-width: 1023px) {
    .swiper-container {
        height: 40vw;
   }
    .swiper-container.swiper-container-coverflow {
        padding-top: 0;
   }
}
