@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Permanent+Marker&display=swap');
body{
    overflow-x: hidden;
}

.font-chritmas{
    font-family: 'Permanent Marker', cursive;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

h1,h5,h3{
    font-family: 'Great Vibes', cursive;
}

.nav-link{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5em;
}

.banner-img{
    object-fit: cover;
    width: 100%;
    
}
.img-entree{
    object-fit: cover;
    width: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* navbar */
.navbar{
    background-color: transparent !important;
    position: absolute;
    top: 0;
    width: 100%;
}

/* header */
.image{
    box-sizing: border-box;
}

.image img{
object-fit: cover;
width: 100%;
}


/* footer */

.page-footer{
    background-color: #303D5D;
    color: #ffffff;
}

.page-footer .footer-copyright {
    background-color: #112453;
}

/* --------------- Style des coffrets ------------ */

.card-img-top{
    object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 90%;
}

/*reduction de la taille et la hauteur des images de la section comment ça marche */
.imgcardtitle {
 object-fit: cover;
width: 80%;
margin: auto;
/*width: 350px;
margin-left: 95px;
margin-top: 30px;*/
}
.lienzone{
    text-decoration: none;
    overflow: none;
}

.titrebloc{
    display: inline;
    position: relative;
    
}
.titrebloc .titre{
    z-index: 1;
    position: absolute;
    font-family: 'Great Vibes', cursive;
    margin-top: 170px;
    left: 29px;
    text-align: center;
    top: 30%;
    color: white;
    width: 45vw;
    font-size: 4em;
}
a:hover{
    text-decoration: none;
}
/* Paragraphes en bleu par défaut */
p
{
    color: blue;
}


