@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
body{
    overflow-x: hidden;
}
.swiper-container {
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Mountains of Christmas', cursive;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* navbar */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent !important;
}

/* header */
.image{
    box-sizing: border-box;
}

.image img{
object-fit: cover;
width: 100%;
}